<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Tasas de Interés</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Calculadora de Tasas de Interés</h1>
    <form id="interestForm">
        <label for="InitialRate">Tasa Inicial:</label>
        <input type="float" id ="InitialRate" name="InitialRate"
        placeholder="Ingrese la tasa" required>

        <label for="rateType">Tipo de Tasa:</label>
        <select id="rateType" name="rateType">
            <option value="Nominal">Nominal</option>
            <option value="Efectiva" selected>Efectiva</option>
        </select>

        <label for="InitialPeriod">Período inicial:</label>
        <select id="InitialPeriod" name="InitialPeriod">
            <option value="Anual" selected>Anual</option>
            <option value="Mensual">Mensual</option>
        </select>

        <label for="WishedPeriod">Período deseado:</label>
        <select id="WishedPeriod" name="WishedPeriod">
            <option value="Anual">Anual</option>
            <option value="Mensual" selected>Mensual</option>
        </select>

        <button type="submit">Calcular</button>
    </form>

    <h2>Resultado:</h2>
    <p id="result"></p>
    <script src="/static/script.js"></script>
</body>
</html>